<!DOCTYPE html>
<html>
    <head>
        <title>Kalm</title>
    </head>

    <body id="welcome-bg">
        <div class="welcome">
            <h1 id="welcome-title">KΛLM</h1>
            <p class="welcome-p"> A NYC based website that acts as a market place expensive streetwear. Buyers can buy or rent out clothes, sellers can put items up for sale or for renting! </p> <br> <br>
            <p class="welcome-p">Created by: Victor Torres && Karina Guerra</p>
        </div>
    </body>

</html>