<%= link_to  swag_path(swag) do %>
<div class="card-body boxBG mb-3 mt-3">
  <div class="card-text">
    <p class="text-center small_hedding">
      <%=swag.name%>
    </p>
    <p class="text"><%="Rent per day: }"%></p>
    <p class="text"><%="Buy Price: "%></p>
</div>
</div>

<%end%>