<head>
<link rel="stylesheet" href="swag.css">
<body id="show-bg">
      <div class="container mt-4">
  <section class="text-center">
    <h1 class="glow">All Listings</h1>
  </section>
</div>

<div class="album py-1">
  <div class="container">
    <div class="row">
      <% @swag.each do |swag| %>
        <div class="col-md-4">
          <%=render partial: "swag_summary", locals: { swag: swag } %>
        </div>
      <%end%>
    </div>
  </div>
</div>
     </body>
 
</head>
