/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

 body {
  margin: 0;
}

 .nav {
    background-color: #000000;
    
    height: 40px;
    width: 100%;
    font: 25px sans-serif;
    margin: 0px 0px 16px;
    padding: 0px;
  }

  #nav-brand {
    font-size: 22px;
    font-weight: 800;
    float: left;
  }

  .nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font: 15px sans-serif;
    padding: 8px;
  }
  
   .nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 40px;
     font: 15px sans-serif;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: #7e0303;
     
   }
  
  
  
  .right {
    float: right;
  }
  /*Should be the css for a form but isnt working i dont understand why */
  .form-container {
    max-width: 300px;
    margin: 0px auto;
    background-color: #740505;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
  }

  .form-header{
    color: whitesmoke;
    font-weight: bold;
    background-color: transparent;
  }
  
  .form-btn {
    margin-top: 10px;
    border-radius: 25px;
  }
  
  .form-input {
    margin-top: 10px;
    padding-top: 10px;
    color: whitesmoke;
    font-weight: bold;
  }
  #form-bg {
    // background-image: url(https://images.unsplash.com/photo-1516893842880-5d8aada7ac05?ixlib=rb-1.2.1&w=1000&q=80);
    background-image:url(https://wallpaperaccess.com/full/688900.jpg);
    background-position: center;
  
  
  }

  .ff-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/1451/7422/products/Gotham_Red-web_copy_2048x2048.jpg?v=1525818713);
    background-position: center;
  }
