/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav {
    background-color: #1b50c2;
    
    height: 30px;
    width: 100%;
    font: 15px sans-serif;
    margin: 0px 0px 16px;
    padding: 0px;
  }
  
   .nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: #9e30f9;
     transition: 1s;
   }
  
   .nav li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
  }
  
  
  .right {
    float: right;
  }
  /*Should be the css for a form but isnt working i dont understand why */
  .form-container {
    max-width: 300px;
    margin: 0px auto;
    background-color: rgba(249, 48, 114, 0.2);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
  }
  
  .form-btn {
    background-color: rgb(249, 48, 114);
    margin-top: 10px;
    border-radius: 25px;
  }
  
  .form-input {
    margin-top: 10px;
  }
