/*External style sheets targeting whatever is soley in ul */
/*The asteris basically selects everything within the page and this is just to add a border to be able to see */
* {
    border: 1px solid black
}
body {
    background-color: lightgrey;
}
ul{
    background-color: aquamarine;
}
h1{
    background-color: blue;
}
/*Everything withing that html.erb will be affected in the same way, so this hits the swags index and show page  */
.container {
    border: 1px solid brown;
    display: flex;
    max-width: 70%;
    margin: 0px auto;
  
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .tile {
    border: 1px solid teal;
    background-color: teal;
    padding: 10px;
    text-align: center;
    margin: 10px 0px;
  }
.swag-item{
    max-width: 150px;

}
